* {
  margin: 0;
  padding: 0;
}

body {
  height: max-content;
}

.Main {
  background: linear-gradient(135deg, #f5f7fa, #c3cfe2);
  min-height: 100vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 20px;
}

.formNavContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 20px;
}

.transactionContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.FormContinaer {
  width: 100%;
  max-width: 600px;
  padding: 35px 0px;
  background: #ece8e8;
  border: 5px solid white;
  border-radius: 50px;
  margin: 0 auto; /* Center the container */
}

.navigationContainer {
  width: 100%;
  max-width: 604px;
  padding: 10px 0px;
  background: #ece8e8;
  border: 5px solid white;
  border-radius: 50px;
  margin: 0 auto; /* Center the container */
}

.navigationContainer h2 {
  letter-spacing: 3px;
  font-weight: bold;
  text-align: center; /* Center the heading */
}

.nav-list h5 {
  font-weight: 700;
  font-size: 1em;
  text-align: center; /* Center the list items */
}

.nav-list h5:hover {
  font-weight: 700;
  font-size: 1.05em;
  cursor: pointer;
}

.FormContinaer form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: auto;
  padding: 20px; /* Add padding for better spacing */
}

.FormContinaer a {
  text-decoration: none;
  list-style: none;
}

.totals {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  gap: 20px;
}
@media (min-width: 768px) {
  .formNavContainer {
    width: 30%;
  }

  .transactionContainer {
    width: 69%;
  }
  .navigationContainer {
    width: 100%;
    max-width: 450px;
    padding: 10px 0px;
    background: #ece8e8;
    border: 5px solid white;
    border-radius: 50px;
    margin: 0 auto; /* Center the container */
  }
  .totals {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    gap: 20px;
  }
}
